{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{% capture margin_size %}
  {% if section.settings.display_margins %}
    {{ settings.margin_size }}
  {% else %}
    0
  {% endif %}
{% endcapture %}

{% capture mobile_margin_size %}
  {% if section.settings.display_margins %}
    {{ settings.mobile_margin_size }}
  {% else %}
    0
  {% endif %}
{% endcapture %}

{% style %}
#shopify-section-{{ section.id }} {
  margin-top: {{ margin_size | divided_by: 10 }}rem;
  margin-bottom: {{ margin_size | divided_by: 10 }}rem;
}
@media screen and (max-width: 750px) {
  #shopify-section-{{ section.id }} {
    margin-top: {{ mobile_margin_size | divided_by: 10 }}rem;
    margin-bottom: {{ mobile_margin_size | divided_by: 10 }}rem;
  }
}
#Banner-{{ section.id }} .animated.active {
  animation-duration: {{section.settings.animation_time}};
  animation-fill-mode: both;
  -webkit-animation-duration: {{section.settings.animation_time}};
  -webkit-animation-fill-mode: both;
}
{% endstyle %}

<div id="Banner-{{ section.id }}"
    class="banner banner--content-align-{{ section.settings.desktop_content_alignment }}
          banner--content-align-mobile-{{ section.settings.mobile_content_alignment }}
          {% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}
          {% if section.settings.show_container_mobile %} banner--mobile-content{%- endif -%}
          {% if section.settings.show_text_box == false %} banner--desktop-transparent{%- endif -%}
        {% if section.settings.hide_section_mobile %} small-hide{%- endif -%}
         {% if section.settings.enable_parallax == true %} banner__parallax{% endif %}
          {% if settings.scroll_appear == "fadein" %} fadeIn{%- endif -%}
          {% if settings.scroll_appear == "fadein" %} fadeIn{%- endif -%}
          {% unless section.settings.custom_class == blank %} {{section.settings.custom_class}}{% endunless %}
         "
          {% if section.settings.section_url != blank %}
            onclick="window.location.href='{{ section.settings.section_url }}';"
            style="background-color: {{ section.settings.section_background_color }}; cursor: pointer;"
          {% else %}
            style="background-color: {{ section.settings.section_background_color }};"
          {% endif %}
          >
    <div class="image-banner__background-image__gradient">
      {%- if section.settings.desktop_image != blank or section.settings.mobile_image != blank -%}
            {% if section.settings.enable_parallax == true %}<div class="banner__parallaxbg">{% endif %}
            {%- render 'image-banner-media', desktop_large_image: section.settings.desktop_large_image, desktop_image: section.settings.desktop_image, mobile_image: section.settings.mobile_image -%}
            {% if section.settings.enable_parallax == true %}</div>{% endif %}
      {%- endif -%}
    </div>
  {%- if section.blocks -%}
  <div class="banner__content {% if section.settings.section_background_color != 'rgba(0,0,0,0)' %} banner__content-container {% else %} banner__content-container-transparent{% endif %} banner__content--{{ section.settings.desktop_content_position }} page-width">
    {% assign backgroundOpacity = section.settings.content_background_opacity | divided_by: 100.00 %}

    <div class="banner__box
        {% if section.settings.show_border_desktop %} banner--border{%- endif -%}
        {% if section.settings.show_border_mobile %} banner--border-mobile{%- endif -%}
        {% if section.settings.show_border_offset_desktop %} banner--border-offset banner--border-offset-desktop{%- endif -%}
        {% if section.settings.show_border_offset_mobile %} banner--border-offset banner--border-offset-mobile{%- endif -%}"
          style="background: {{ section.settings.content_background_color }};
          background: {{ section.settings.content_background_color | color_to_rgb | color_modify: 'alpha', backgroundOpacity }};">
      {%- render 'image-banner-content', blocks: section.blocks, animation: section.settings.animation -%}
    </div>
  </div>
  {%- endif -%}
</div>
{% assign content_area_max_width_ratio = section.settings.content_area_max_width | times: 100 | divided_by: 989 | round:
2 %}

{% style %}
  @media only screen and (min-width: 990px) {
    #Banner-{{ section.id }}.banner,
    #Banner-{{ section.id }}.banner.banner--mobile-bottom .banner__content,
    #Banner-{{ section.id }}.banner:not(.banner--mobile-bottom) .banner__content,
    #Banner-{{ section.id }}.banner--mobile-bottom .banner__media,
    #Banner-{{ section.id }}.banner--mobile-bottom .banner__media > img {
    min-height: {{ section.settings.desktop_max_height }}px;
    }

    .banner__parallax {
      background-image: url("{{section.settings.desktop_image | image_url  }}");
      min-height: {{ section.settings.desktop_max_height }}px;
    }
  }

  @media only screen and (max-width: 749px) {
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'text' -%}
        #Banner-{{ section.id }} .banner__box .banner__text p {
          color:{{ block.settings.text_color_mobile }};
        }
      {%- endcase -%}
    {%- endfor -%}

    #Banner-{{ section.id }} .banner--border-mobile::after {
      border: 0.1rem solid;
      border-color:{{ section.settings.box_border_color }};
      }
    .banner__parallax {
      background-image: url("{{section.settings.mobile_image | image_url  }}");
      max-height: {{ section.settings.desktop_max_height }}px;
    }

    {% if section.settings.hide_image_mobile %}
      #Banner-{{ section.id }} .banner__media.media {
        display: none;
        visibility: hidden;
      }
    {% endif %}
  }
@media only screen and (min-width: 990px) {
#Banner-{{ section.id }} .banner__box {
max-width: {{ section.settings.content_area_max_width }}px;
}

#Banner-{{ section.id }} .banner--border::after {
border: 0.1rem solid;
border-color: {{ section.settings.box_border_color }};
}
}
@media only screen and (min-width: 750px) and (max-width: 989px) {
#Banner-{{ section.id }} .banner__box {
max-width: {{ content_area_max_width_ratio }}%;
}

.banner__parallax {
  background-image: url("{{section.settings.desktop_image | image_url  }}");
  min-height: {{ section.settings.desktop_max_height }}px;
}

#Banner-{{ section.id }} .banner--border::after {
border: 0.1rem solid;
border-color: {{ section.settings.box_border_color }};
}
}
@media only screen and (min-width:1399px) {
    .banner__parallax {
      background-image: url("{{section.settings.desktop_large_image | image_url  }}");
      min-height: {{ section.settings.desktop_max_height }}px;
    } 
}

{% endstyle %}

{% schema %}
{
  "name": "Image banner",
  "tag": "section",
  "class": "section-image-banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_large_image",
      "label": "Desktop image (wide screens)"
      },
      {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile image"
    },
    {
      "type": "checkbox",
      "id": "enable_parallax",
      "default": false,
      "label": "Enable Parallax Scroll Animation"
    },
    {
      "type": "number",
      "id": "desktop_max_height",
      "label": "Desktop background area maximum size (px)",
      "default": 640
      },
      {
      "type": "header",
      "content": "Section colors"
      },
      {
      "type": "color",
      "id": "section_background_color",
      "label": "Background color"
      },
      {
      "type": "color",
      "id": "content_background_color",
      "label": "Content container color"
      },
      {
      "type": "color",
      "id": "box_border_color",
      "label": "Container border color",
      "default": "#333333"
      },
      {
      "type": "header",
      "content": "Content Area Options"
      },
      {
      "type": "checkbox",
      "id": "show_text_box",
      "label": "Show container background on desktop",
      "default": false
      },
      {
      "type": "checkbox",
      "id": "show_container_mobile",
      "label": "Show container background on mobile",
      "default": false
    },
    {
      "type": "range",
      "id": "content_background_opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 100,
      "label": "Content container opacity",
      "info": "If using opacity and mobile display text below image, select a section background color."
    },
    {
      "type": "number",
      "id": "content_area_max_width",
      "label": "Desktop content area maximum size (px)",
      "default": 400
    },
    {
      "type": "checkbox",
      "id": "show_border_desktop",
      "default": false,
      "label": "Show container border on desktop"
    },
    {
      "type": "checkbox",
      "id": "show_border_offset_desktop",
      "default": false,
      "label": "Offset container border on desktop"
      },
      {
      "type": "checkbox",
      "id": "show_border_mobile",
      "default": false,
      "label": "Show container border on mobile"
      },
      {
      "type": "checkbox",
      "id": "show_border_offset_mobile",
      "default": false,
      "label": "Offset container border on mobile"
    },
    {
      "type": "header",
      "content": "Desktop Layout"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "Top Left"
        },
        {
          "value": "top-center",
          "label": "Top Center"
        },
        {
          "value": "top-right",
          "label": "Top Right"
        },
        {
          "value": "middle-left",
          "label": "Middle Left"
        },
        {
          "value": "middle-center",
          "label": "Middle Center"
        },
        {
          "value": "middle-right",
          "label": "Middle Right"
        },
        {
          "value": "bottom-left",
          "label": "Bottom Left"
        },
        {
          "value": "bottom-center",
          "label": "Bottom Center"
        },
        {
          "value": "bottom-right",
          "label": "Bottom Right"
        }
      ],
      "default": "middle-center",
      "label": "Desktop content position"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Desktop content alignment"
    },
    {
      "type": "header",
      "content": "Mobile Layout"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Mobile content alignment"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "Show content below image"
    },
    {
      "type": "checkbox",
      "id": "hide_image_mobile",
      "label": "Hide background image on mobile",
      "default": false
    },
    {
      "type": "header",
      "content": "Other Options"
    },
    {
      "type": "url",
      "id": "section_url",
      "label": "Section link",
      "info": "Makes entire section a clickable link."
    },
    {
      "type": "checkbox",
      "id": "hide_section_mobile",
      "label": "Hide section on mobile",
      "default": false
    },
    {
      "type": "header",
      "content": "Block Animations"
    },
    {
      "type": "select",
      "id": "animation",
      "options":[
        {
          "value": "fadeIn",
          "label": "Fade In"
        },
        {
          "value": "fadeInUp",
          "label": "Fade In Up"
        },
        {
          "value": "fadeInLeft",
          "label": "Fade In Left"
        },
        {
          "value": "fadeInRight",
          "label": "Fade In Right"
        },
        {
          "value": "NoEffect",
          "label": "No Effect"
        }
      ],
      "default": "NoEffect",
      "label": "Select Animation"
    },
    {
      "type": "text",
      "id": "animation_time",
      "default": "0.2s",
      "label": "Animation Time",
      "info": "Must be a number and include 's' at the end. (Example, 0.2s)"
    },
    {
      "type": "header",
      "content": "Margins",
      "info": "Apply global theme layout margins on the top and bottom"
    },
    {
      "type": "checkbox",
      "id": "display_margins",
      "label": "Display margins",
      "default": false
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    }
  ],
  "blocks": [
    {
      "type": "eyebrow",
      "name": "Eyebrow",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "eyebrow",
          "default": "Eyebrow",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "eyebrow_style",
          "label": "Eyebrow style",
          "default": "eyebrow",
          "options": [
            {
              "value": "eyebrow",
              "label": "Eyebrow - Small"
            },
            {
              "value": "eyebrow-large",
              "label": "Eyebrow - Large"
            }
          ]
        },
        {
          "type": "color",
          "id": "eyebrow_color_desktop",
          "label": "Eyebrow color - desktop"
        },
        {
          "type": "color",
          "id": "eyebrow_color_mobile",
          "label": "Eyebrow color - mobile"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Headline",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image banner",
          "label": "Headline"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "cql-headline-1",
              "label": "Custom Headline 1"
            },
            {
              "value": "cql-headline-2",
              "label": "Custom Headline 2"
            },
            {
              "value": "cql-headline-3",
              "label": "Custom Headline 3"
            },
            {
              "value": "h4",
              "label": "X-Small"
            },
            {
              "value": "h3",
              "label": "Small"
            },
            {
              "value": "h2",
              "label": "Medium"
            },
            {
              "value": "h1",
              "label": "Large"
            },
            {
              "value": "h0",
              "label": "X-Large"
            }
          ],
          "default": "h0",
          "label": "Headline size"
        },
        {
          "type": "color",
          "id": "heading_color_desktop",
          "label": "Headline color - desktop"
        },
        {
          "type": "color",
          "id": "heading_color_mobile",
          "label": "Headline color - mobile"
        }
      ]
    },
    {
      "type": "text",
      "name": "Description",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Give customers details about the banner image(s) or content on the template.</p>",
          "label": "Description"
        },
        {
          "type": "select",
          "id": "text_style",
          "label": "Text style",
          "default": "text-body",
          "options": [
            {
              "value": "text-body",
              "label": "Body - Default"
            },
            {
              "value": "text-body-small",
              "label": "Body - Small"
            },
            {
              "value": "text-body-medium",
              "label": "Body - Medium"
            },
            {
              "value": "text-body-large",
              "label": "Body - Large"
            },
            {
              "value": "caption",
              "label": "Caption"
            },
            {
              "value": "subtitle",
              "label": "Subtitle"
            }
          ]
        },
        {
          "type": "color",
          "id": "text_color_desktop",
          "label": "Description color - desktop"
        },
        {
          "type": "color",
          "id": "text_color_mobile",
          "label": "Description color - mobile"
        }
      ]
    },
    {
      "type": "button",
      "name": "Buttons",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Button 1 options"
        },
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "Label",
          "info": "Leave the label blank to hide the button."
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "button_style_desktop_1",
          "label": "Style - desktop",
          "default": "primary",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "tertiary",
              "label": "Tertiary"
            },
            {
              "value": "link-1",
              "label": "Link style 1"
            },
            {
              "value": "link-2",
              "label": "Link style 2"
            }
          ]
        },
        {
          "type": "select",
          "id": "button_style_mobile_1",
          "label": "Style - mobile",
          "default": "primary",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "tertiary",
              "label": "Tertiary"
            },
            {
              "value": "link-1",
              "label": "Link style 1"
            },
            {
              "value": "link-2",
              "label": "Link style 2"
            }
          ]
        },
        {
          "type": "header",
          "content": "Button 2 options"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "Label",
          "info": "Leave the label blank to hide the button."
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "button_style_desktop_2",
          "label": "Style - desktop",
          "default": "primary",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "tertiary",
              "label": "Tertiary"
            },
            {
              "value": "link-1",
              "label": "Link style 1"
            },
            {
              "value": "link-2",
              "label": "Link style 2"
            }
          ]
        },
        {
          "type": "select",
          "id": "button_style_mobile_2",
          "label": "Style - mobile",
          "default": "primary",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "tertiary",
              "label": "Tertiary"
            },
            {
              "value": "link-1",
              "label": "Link style 1"
            },
            {
              "value": "link-2",
              "label": "Link style 2"
            }
          ]
        },
        {
          "type": "header",
          "content": "Block options"
        },
        {
          "type": "checkbox",
          "id": "show_side_by_side",
          "default": false,
          "label": "Display buttons side-by-side"
        },
        {
          "type": "select",
          "id": "button_min_width",
          "label": "Button widths",
          "options": [
          {
          "value": "inherit",
          "label": "Inherit"
          },
          {
              "value": "auto",
              "label": "Auto"
              },
              {
              "value": "full",
              "label": "100%"
              }
              ],
              "default": "inherit"
        },
        {
          "type": "checkbox",
          "id": "show_separator_vertical",
          "default": false,
          "label": "Display vertical buttons separator"
          },
          {
          "type": "checkbox",
          "id": "show_separator_horizontal",
          "default": false,
          "label": "Display horizontal buttons separator"
        },
        {
          "type": "color",
          "id": "separator_color",
          "label": "Separator color"
        },
        {
          "type": "checkbox",
          "id": "links_color_override",
          "default": false,
          "label": "Override link/button default text color."
        },
        {
          "type": "color",
          "id": "links_color",
          "label": "Link color"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Select an image:"
        },
        {
          "type": "number",
          "id": "image_max_width",
          "label": "Image maximum size (px)",
          "default": 75
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image banner",
      "blocks": [
        {
          "type": "eyebrow"
        },
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
