<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-rich-text.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}</noscript>

{% capture margin_size %}
  {% if section.settings.display_margins %}
    {{ settings.margin_size }}
  {% else %}
    0
  {% endif %}
{% endcapture %}

{% capture mobile_margin_size %}
  {% if section.settings.display_margins %}
    {{ settings.mobile_margin_size }}
  {% else %}
    0
  {% endif %}
{% endcapture %}

{% style %}
  #shopify-section-{{ section.id }} {
    margin-top: {{ margin_size | divided_by: 10 }}rem;
    margin-bottom: {{ margin_size | divided_by: 10 }}rem;
  }

  @media screen and (max-width: 750px) {
    #shopify-section-{{ section.id }} {
      margin-top: {{ mobile_margin_size | divided_by: 10 }}rem;
      margin-bottom: {{ mobile_margin_size | divided_by: 10 }}rem;
    }
  }
{% endstyle %}

<div id="rich-text-{{ section.id }}" class="rich-text gradient  {% if settings.scroll_appear == "fadein" %} fadeIn {% endif %}" style="background-color: {{ section.settings.background_color }};">
  <div class="rich-text__blocks">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'heading' -%}
          <h2 class="rich-text__heading animated {{block.settings.headline_animation}} {{ block.settings.heading_size }}" {{ block.shopify_attributes }} id="block-section-{{ block.id }}">{{ block.settings.heading | escape }}</h2>

          {% assign block_selector = '#block-section-' | append: block.id %}
          {% style %}
          {% if block.settings.heading_color != 'rgba(0,0,0,0)' %}
          {{ block_selector }}.rich-text__heading {
            color: {{ block.settings.heading_color }};
          }
          {% endif %}
           #rich-text-{{ section.id }} {{ block_selector }}.rich-text__heading.animated.active {
            animation-duration: {{block.settings.headline_animation_time}};
            animation-fill-mode: both;
            -webkit-animation-duration: {{block.settings.headline_animation_time}};
            -webkit-animation-fill-mode: both;
          }
          {% endstyle %}

        {%- when 'text' -%}
          <div class="rich-text__text rte animated {{block.settings.richtext_animation}} {{ block.settings.text_style }}" {{ block.shopify_attributes }} id="block-section-{{ block.id }}">{{ block.settings.text }}</div>

          {% assign block_selector = '#block-section-' | append: block.id %}
          {% style %}
          #rich-text-{{ section.id }} {{ block_selector }}.rich-text__text.animated.active {
            animation-duration: {{block.settings.richtext_animation_time}};
            animation-fill-mode: both;
            -webkit-animation-duration: {{block.settings.richtext_animation_time}};
            -webkit-animation-fill-mode: both;
          }
          #rich-text-{{ section.id }} {{ block_selector }}.rich-text__text p {
            font-size: inherit;
            line-height: inherit;
            letter-spacing: inherit;
            {% if block.settings.text_color != 'rgba(0,0,0,0)' %}
              color: {{ block.settings.text_color }};
            {% endif %}
          }
          {% endstyle %}

        {%- when 'button' -%}
          {% style %}
            #rich-text-{{ section.id }} .button--{{ block.id }}.animated.active {
              animation-duration: {{block.settings.button_animation_time}};
              animation-fill-mode: both;
              -webkit-animation-duration: {{block.settings.button_animation_time}};
              -webkit-animation-fill-mode: both;
            }
          {% endstyle %}

          {% render 'button'
            animation: block.settings.button_animation,
            block_id: block.id,
            block_attributes: block.shopify_attributes,
            label: block.settings.button_label,
            link: block.settings.button_link,
            variation: block.settings.button_style,
            shape: block.settings.button_shape,
            size: block.settings.button_size,
            arrow: block.settings.button_arrow,
            class: "small-hide"
          %}

          {% render 'button',
            label: block.settings.button_label,
            link: block.settings.button_link,
            variation: block.settings.button_style,
            shape: block.settings.button_shape,
            size: block.settings.mobile_button_size,
            arrow: block.settings.button_arrow,
            class: "medium-hide large-up-hide"
          %}
        
        {%- when 'eyebrow' -%}
          {% capture eyebrow_color %}
            {% if block.settings.eyebrow_color != 'rgba(0,0,0,0)' %}
              {{ block.settings.eyebrow_color }}
            {% endif %}
          {% endcapture %}
          
          {% render 'eyebrow', text: block.settings.eyebrow, text_style: block.settings.eyebrow_style, text_color: eyebrow_color, class: "rich-text__eyebrow" %}
        {%- when 'logo_list' -%}
        {% style %}
        #rich-text-{{ section.id }} .rich-text__logo-list--{{ block.id }}.rich-text__logo-list.animated.active {
            animation-duration: {{block.settings.animation_time}};
            animation-fill-mode: both;
            -webkit-animation-duration: {{block.settings.animation_time}};
            -webkit-animation-fill-mode: both;
          }
        {% endstyle %}
          <div class="rich-text__logo-list rich-text__logo-list--{{ block.id }} animated {{block.settings.logo_animation}}">
            {%- for i in (1..5) -%}
              {%- assign logo_image = "logo_image__" | append: i -%}
              {%- assign logo_link = "logo_link__" | append: i -%}

              {%- unless block.settings[logo_image] == blank -%}
                <a{% if block.settings[logo_link] == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings[logo_link] }}"{% endif %} class="logo-list-item">
                  {% assign img = block.settings[logo_image] %}
                  {% assign img_width = img.width | at_most: 300 %}

                  {% render 'image', image: img, alt: img.alt %}
                </a>
              {%- endunless -%}
            {%- endfor -%}
          </div>

        {%- when 'padding' -%}
          {% render 'padding',
            id: block.id,
            mobile_padding_amount: block.settings.mobile_padding_amount,
            desktop_padding_amount: block.settings.desktop_padding_amount
          %}

      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% assign section_selector = '#shopify-section-' | append: section.id %}
{% style %}
  {{ section_selector }} .rich-text__blocks {
    {% if section.settings.container_alignment == "right" %}
      margin-right: 0;
    {% elsif section.settings.container_alignment == "left" %}
      margin-left: 0;
    {% elsif section.settings.container_alignment == "center" %}
      margin: 0 auto;
    {% endif %}
  }

  @media screen and (max-width: 749px) {
    {{ section_selector }} .rich-text {
      {% if section.settings.background_mobile_image %}
      background-repeat: no-repeat;
      background-image: url({{ section.settings.background_mobile_image | image_url }});
      {% endif %}
      padding: {{ section.settings.mobile_top_padding }}px 0 {{ section.settings.mobile_bottom_padding }}px;
    }

    {{ section_selector }} {
      min-height: {{ section.settings.height_mobile }}px;
    }
  }

  @media screen and (min-width: 750px) {
    {{ section_selector }} .rich-text {
      {% if section.settings.background_desktop_image %}
      background-repeat: no-repeat;
      background-image: url({{ section.settings.background_desktop_image | image_url }});
      {% endif %}
      padding: {{ section.settings.desktop_top_padding }}px 0 {{ section.settings.desktop_bottom_padding }}px;
    }

    {{ section_selector }} .rich-text__blocks {
      text-align: {{ section.settings.text_alignment }} !important;
      max-width: {{ section.settings.desktop_max_content_width }}px;
    }

    {{ section_selector }} {
      min-height: {{ section.settings.height_desktop }}px;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "Rich text",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    
    {
      "type": "header",
      "content": "Background",
      "info": "No settings required."
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Color"
    },
    {
      "type": "image_picker",
      "id": "background_desktop_image",
      "label": "Desktop image"
    },
    
    {
      "type": "image_picker",
      "id": "background_mobile_image",
      "label": "Mobile image"
    },
    {
      "type": "header",
      "content": "Desktop Layout"
    },
    {
      "id": "desktop_max_content_width",
      "type": "number",
      "label": "Content area max width (px)",
      "default": 750,
      "info": "Increase to widen the presentation of content blocks. Note that 200px is reserved for horizontal content padding."
    },
    {
      "type": "select",
      "id": "container_alignment",
      "label": "Container alignment (desktop)",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment (desktop)",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Section height"
    },
    {
      "type": "number",
      "id": "height_desktop",
      "label": "Min desktop section height (px)",
      "default": 0
    },
    {
      "type": "number",
      "id": "height_mobile",
      "label": "Min mobile section height (px)",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "number",
      "id": "desktop_top_padding",
      "label": "Desktop top padding (px)",
      "default": 60
    },
    {
      "type": "number",
      "id": "desktop_bottom_padding",
      "label": "Desktop bottom padding (px)",
      "default": 60
    },
    {
      "type": "number",
      "id": "mobile_top_padding",
      "label": "Mobile top padding (px)",
      "default": 45
    },
    {
      "type": "number",
      "id": "mobile_bottom_padding",
      "label": "Mobile bottom padding (px)",
      "default": 45
    },
    {
      "type": "header",
      "content": "Margins",
      "info": "Apply global theme layout margins on the top and bottom"
    },
    {
      "type": "checkbox",
      "id": "display_margins",
      "label": "Display margins",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "eyebrow",
      "name": "Eyebrow",
      "limit": 1,
      "settings": [
        {
         "type": "text",
         "id": "eyebrow",
         "label": "Eyebrow",
         "default": "Eyebrow"
        },
        {
          "type": "select",
          "id": "eyebrow_style",
          "label": "Eyebrow style",
          "default": "eyebrow",
          "options": [
            {
              "value": "eyebrow",
              "label": "Eyebrow - Small"
            },
            {
              "value": "eyebrow-large",
              "label": "Eyebrow - Large"
            }
          ]
        },
        {
          "type": "color",
          "id": "eyebrow_color",
          "label": "Eyebrow color"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Headline",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "headline_animation",
          "options":[
            {
              "value": "fadeIn",
              "label": "Fade In"
            },
            {
              "value": "fadeInUp",
              "label": "Fade In Up"
            },
            {
              "value": "fadeInLeft",
              "label": "Fade In Left"
            },
            {
              "value": "fadeInRight",
              "label": "Fade In Right"
            },
            {
              "value": "NoEffect",
              "label": "No Effect"
            }
          ],
          "default": "NoEffect",
          "label": "Select Headline Animation"
        },
        {
          "type": "text",
          "id": "headline_animation_time",
          "default": "0.2s",
          "label": "Headline Animation Time",
          "info": "Must be a number and include 's' at the end. (Example, 0.2s)"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Talk about your brand",
          "label": "Headline"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Headline color",
          "default": "#000000"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "cql-headline-1",
              "label": "Custom Headline 1"
            },
            {
              "value": "cql-headline-2",
              "label": "Custom Headline 2"
            },
            {
              "value": "cql-headline-3",
              "label": "Custom Headline 3"
            },
            {
              "value": "h4",
              "label": "X-Small"
            },
            {
              "value": "h3",
              "label": "Small"
            },
            {
              "value": "h2",
              "label": "Medium"
            },
            {
              "value": "h1",
              "label": "Large"
            },
            {
              "value": "h0",
              "label": "X-Large"
            }
          ],
          "default": "h1",
          "label": "Headline size"
        }
      ]
    },
    {
      "type": "text",
      "name": "Description",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "richtext_animation",
          "options":[
            {
              "value": "fadeIn",
              "label": "Fade In"
            },
            {
              "value": "fadeInUp",
              "label": "Fade In Up"
            },
            {
              "value": "fadeInLeft",
              "label": "Fade In Left"
            },
            {
              "value": "fadeInRight",
              "label": "Fade In Right"
            },
            {
              "value": "NoEffect",
              "label": "No Effect"
            }
          ],
          "default": "NoEffect",
          "label": "Select RichText Animation"
        },
        {
          "type": "text",
          "id": "richtext_animation_time",
          "default": "0.2s",
          "label": "RichText Animation Time",
          "info": "Must be a number and include 's' at the end. (Example, 0.2s)"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "Description"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Description color",
          "default": "#000000"
        },
        {
          "type": "select",
          "id": "text_style",
          "label": "Text style",
          "default": "text-body",
          "options": [
            {
              "value": "caption",
              "label": "Caption"
            },
            {
              "value": "subtitle",
              "label": "Subtitle"
            },
            {
              "value": "text-body",
              "label": "Body - Default"
            },
            {
              "value": "text-body-small",
              "label": "Body - Small"
            },
            {
              "value": "text-body-medium",
              "label": "Body - Medium"
            },
            {
              "value": "text-body-large",
              "label": "Body - Large",
            },
            {
              "value": "body-special-small",
              "label": "Body Special - Small"
            },
            {
              "value": "body-special-medium",
              "label": "Body Special - Medium"
            },
            {
              "value": "body-special-large",
              "label": "Body Special - Large"
            }
          ]
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 2,
      "settings": [
        {
          "type": "select",
          "id": "button_animation",
          "options":[
            {
              "value": "fadeIn",
              "label": "Fade In"
            },
            {
              "value": "fadeInUp",
              "label": "Fade In Up"
            },
            {
              "value": "fadeInLeft",
              "label": "Fade In Left"
            },
            {
              "value": "fadeInRight",
              "label": "Fade In Right"
            },
            {
              "value": "NoEffect",
              "label": "No Effect"
            }
          ],
          "default": "NoEffect",
          "label": "Button Animation"
        },
        {
          "type": "text",
          "id": "button_animation_time",
          "default":"0.2s",
          "label": "Button Animation Time",
          "info": "Must be a number and include 's' at the end. (Example, 0.2s)"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "default": "primary",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "tertiary",
              "label": "Tertiary"
            },
            {
              "value": "link-1",
              "label": "Link style 1"
            },
            {
              "value": "link-2",
              "label": "Link style 2"
            }
          ]
        },
        {
          "type": "select",
          "id": "button_shape",
          "label": "Button shape",
          "default": "round",
          "options": [
            {
              "value": "",
              "label": "Rectangular"
            },
            {
              "value": "round",
              "label": "Round"
            }
          ]
        },
        
        {
          "type": "select",
          "id": "button_size",
          "label": "Button size",
          "default": "small",
          "options": [
            {
              "value": "large",
              "label": "Large"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "xsmall",
              "label": "Xsmall"
            }
          ]
        },
        {
          "type": "select",
          "id": "mobile_button_size",
          "label": "Mobile button size",
          "default": "small",
          "options": [
            {
              "value": "large",
              "label": "Large"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "xsmall",
              "label": "Xsmall"
            }
          ]
        },
        {
          "type": "select",
          "id": "button_arrow",
          "label": "Arrow",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        }
      ]
    },
    {
      "type": "logo_list",
      "name": "Logo list",
      "limit": 2,
      "settings": [
        {
          "type": "select",
          "id": "logo_animation",
          "options":[
            {
              "value": "fadeIn",
              "label": "Fade In"
            },
            {
              "value": "fadeInUp",
              "label": "Fade In Up"
            },
            {
              "value": "fadeInLeft",
              "label": "Fade In Left"
            },
            {
              "value": "fadeInRight",
              "label": "Fade In Right"
            },
            {
              "value": "NoEffect",
              "label": "No Effect"
            }
          ],
          "default": "NoEffect",
          "label": "Select Logo Animation"
        },
        {
          "type": "text",
          "id": "animation_time",
          "default": "0.2s",
          "label": "Logo Animation Time",
          "info": "Must be a number and include 's' at the end. (Example, 0.2s)"
        },
        {
        "type": "header",
        "content": "Logo item 1"
        },
        {
          "type": "image_picker",
          "id": "logo_image__1",
          "label": "Logo image"
        },
        {
          "type": "url",
          "id": "logo_link__1",
          "label": "Logo link"
        },
        {
        "type": "header",
        "content": "Logo item 2"
        },
        {
          "type": "image_picker",
          "id": "logo_image__2",
          "label": "Logo image"
        },
        {
          "type": "url",
          "id": "logo_link__2",
          "label": "Logo link"
        },
        {
        "type": "header",
        "content": "Logo item 3"
        },
        {
          "type": "image_picker",
          "id": "logo_image__3",
          "label": "Logo image"
        },
        {
          "type": "url",
          "id": "logo_link__3",
          "label": "Logo link"
        },
        {
        "type": "header",
        "content": "Logo item 4"
        },
        {
          "type": "image_picker",
          "id": "logo_image__4",
          "label": "Logo image"
        },
        {
          "type": "url",
          "id": "logo_link__4",
          "label": "Logo link"
        },
        {
        "type": "header",
        "content": "Logo item 5"
        },
        {
          "type": "image_picker",
          "id": "logo_image__5",
          "label": "Logo image"
        },
        {
          "type": "url",
          "id": "logo_link__5",
          "label": "Logo link"
        }
      ]
    },
    {
      "type": "padding",
      "name": "Padding",
      "settings": [
        {
          "type": "number",
          "id": "mobile_padding_amount",
          "label": "Mobile padding (px)"
        },
        {
          "type": "number",
          "id": "desktop_padding_amount",
          "label": "Desktop padding (px)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Rich text",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
