{% comment %}
  Renders an image which supports high pixel density screens by default.

  Accepts:
  - image: {image} Image to display
  - (Optional) image_max_width: {number} Max width allowed for the image in px. This is generally imposed by the developer based on the section's design and is not controlled by settings. Defaults to native image width.
  - (Optional) image_max_height: {number} Max height allowed for the image in px. This is generally imposed by the developer based on the section's design and is not controlled by settings. Defaults to nothing - should be used sparingly for situations where height is the limiting factor.
  - (Optional) image_desired_width: {number} Desired width of image in px (limited above by max width and native width of image).
  - (Optional) src_set: {string} Desired srcSet attribute for image. Defaults to standard high px density scaling based on width.
  - (Optional) link: {url} If provided, wraps the image in an anchor tag pointing at this link.
  - (Optional) class: {string} Class attribute for img tag.
  - (Optional) style: {string} Style attribute for img tag.
  - (Optional) link_class: {string} Class attribute for img tag.
  - (Optional) do_not_lazy_load: {boolean} Prevent lazy loading - only use for above the fold images.
  - (Optional) alt: {string} Add your own custom alt tag to the image.

  Usage:
  {% render 'image',
  image: block.settings.image,
  image_max_width: 400,
  image_desired_width: block.settings.image_width,
  link: block.settings.image_link,
  class: "small-hide",
  style: "max-width: 100%;"
  link_class: "small-hide",
  do_not_lazy_load: true
  %}{% endcomment %}

  {% unless image == blank %}
    {% if link != blank %}
      <a href="{{ link }}" class="{{ link_class }}" target="_blank">
      {% endif %}

      {% if image_max_height != blank %}
        {% assign img_height = image.height | at_most: image_max_height %}
        {% assign height_param = img_height | prepend: "x" %}

        <img src="{{ image | img_url: height_param }}" srcSet="{% if src_set != blank %}{{ src_set }}{% else %}{{ image | img_url: height_param }} 1x, {{ image | img_url: height_param, scale: 2 }} 2x, {{ image | img_url: height_param, scale: 3 }} 3x{% endif %}" width="{{ img_height | times: image.aspect_ratio | ceil }}" height="{{ img_height }}" {% if alt != blank %} alt="{{ alt }}" {% else %}alt="{{ image.alt }}"{% endif %} class="{{ class }}" style="width: auto; {{ style }}" {% unless do_not_lazy_load %}loading="lazy"{% endunless %}>
      {% else %}
        {% assign img_max_width = image_max_width | default: image.width %}
        {% assign img_width = image.width | at_most: img_max_width %}
        {% if image_desired_width != blank and image_desired_width != 0 %}
          {% assign img_width = image_desired_width | at_most: img_width %}
        {% endif %}
        {% assign width_param = img_width | append: "x" %}

        <img src="{{ image | img_url: width_param }}" srcSet="{% if src_set != blank %}{{ src_set }}{% else %}{{ image | img_url: width_param }} 1x, {{ image | img_url: width_param, scale: 2 }} 2x, {{ image | img_url: width_param, scale: 3 }} 3x{% endif %}" width="{{ img_width }}" height="{{ img_width | divided_by: image.aspect_ratio | ceil }}" {% if alt != blank %} alt="{{ alt }}" {% else %}alt="{{ image.alt }}"{% endif %} class="{{ class }}" style="height: auto; {{ style }}" {% unless do_not_lazy_load %}loading="lazy"{% endunless %}>
      {% endif %}

      {% if link != blank %}
      </a>
    {% endif %}

  {% endunless %}
