{% comment %}
    Renders a menu list of navigation items.

    Accepts:
    - menu: {Object} Link List object
    - menu_blocks: {Object} Blocks defined for mega menu contents (optional)

    Usage:
    {% render 'menu-list', menu: link_list, blocks: blocks %}
{% endcomment %}

<ul class="list-menu list-menu--inline" role="list">
  {%- for link in menu.links -%}
    <li>
      {%- if link.links != blank -%}

        {%- for block in blocks -%}
          {%- if link.title != blank and link.title != block.settings.parent_menu_item_name -%}
            {%- continue -%}
          {%- endif -%}

          {%- case block.type -%}
            {%- when 'megamenu_link_lists' -%}
              <details-disclosure>
                <details id="Details-HeaderMenu-{{ forloop.index }}">
                  <summary class="header__menu-item list-menu__item link focus-inset">
                    <span class="header__menu-item-inner">
                      <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                    {%- render 'icon-inline-menu' -%}
                    </span>
                  </summary>

                  <div class="header__submenu-contents {% if animation %} animate-header {% endif %}">
                    <div class="header__submenu-contents-inner header__link-lists">
                      <ul class="main-menu" id="HeaderMenu-MenuList-{{ forloop.index }}" role="list" tabindex="-1">
                        {%- for childlink in link.links -%}
                          <li class="main-menu-item {% if forloop.first == true %} active {% endif %}">
                            <div class="main-menu-item-parent">
                              <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                            </div>
                            {%- if childlink.links != blank -%}
                              <div class="submenu-wrapper">
                                <div class="submenu">
                                  <div class="submenu-subcategory-wrapper">
                                    <div class="submenu-header">
                                      <h2 class="h5">{{ childlink.title | escape }}</h2>
                                      <a class="submenu-shop-all" href="{{ childlink.url }}">{{ 'sections.header.menu_list_shop_all' | t }} <span class="large-up-hide">{{ childlink.title | escape }}</span></a>
                                    </div>
                                    <ul class="submenu-list">
                                      {%- for grandchildlink in childlink.links -%}
                                        <li><a href="{{ grandchildlink.url }}">{{ grandchildlink.title | escape }}</a></li>
                                      {%- endfor -%}
                                    </ul>
                                  </div>
                                   <div class="menu-image-wrapper">
                                    {% render 'menu-list-promos', menu_item: link, blocks: blocks %}
                                  </div>
                                </div>
                              </div>
                            {%- endif -%}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                  </div>
                </details>
              </details-disclosure>

            {%- when 'megamenu_image_blocks' -%}
              <details-disclosure>
                <details id="Details-HeaderMenu-{{ forloop.index }}">
                  <summary class="header__menu-item list-menu__item link focus-inset">
                    <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                  </summary>

                  <div class="header__submenu-contents {% if animation %} animate-header {% endif %}">
                    <div class="header__submenu-contents-inner header__image-blocks page-width">
                      <ul id="HeaderMenu-MenuList-{{ forloop.index }}" class="header__submenu list-menu list-menu--disclosure caption-large motion-reduce grid" role="list" tabindex="-1">
                        {%- for childlink in link.links -%}
                          <li class="grid__item">
                            <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                              {% render 'menu-list-image', parent_menu_item: link, menu_item: childlink, blocks: blocks %}
                              {{ childlink.title | escape }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                  </div>
                </details>
              </details-disclosure>
          {%- endcase -%}
        {%- endfor -%}

      {%- else -%}
        <a href="{{ link.url }}" class="header__menu-item header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
          <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
        </a>
      {%- endif -%}
    </li>
  {%- endfor -%}
</ul>

<script src="{{ 'megamenu.js' | asset_url }}" defer="defer"></script>